<a href="https://colab.research.google.com/github/daniyalcr9/SDandA/blob/main/20sw107.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:

points=int(input("Enter Your Points:"));

if  points>=1 and points<=50:
  print("Prize:Wooden Rabbit");

elif points >=51 and points<=150:
  print("Prize:No Prize");
elif points >=151 and points<=180:
  print("Prize:Water Thin Mint");
elif points >=181 and points<=200:
  print("Prize:Penguin");5

Enter Your Points:3
Prize:Wooden Rabbit

In [9]:
answer=5;

guess=int(input("Enter You guess"));

if guess < answer:
    print("Your guess is too low.")
elif guess > answer:
    print("Your guess is too high.")
else:
    print("Congratulations! Your guess is correct.")

Enter You guess4
Your guess is too low.

In [10]:
def calculate_tax(amount, state):
    # Define the tax rates for each state
    tax_rates = {
        'CA': 0.075,
        'MN': 0.095,
        'NY': 0.089
    }

    # Check if the state is in the tax_rates dictionary
    if state in tax_rates:
        tax_rate = tax_rates[state]
        tax_amount = amount * tax_rate
        total_amount = amount + tax_amount
        return total_amount
    else:
        print("Invalid state code. Cannot calculate tax.")
        return None

# Test the function
purchase_amount = float(input("Enter the purchase amount: "))
state_code = input("Enter the state code (CA, MN, or NY): ")

total_amount_with_tax = calculate_tax(purchase_amount, state_code)
if total_amount_with_tax is not None:
    print(f"Total amount with tax: ${total_amount_with_tax:.2f}")

Enter the purchase amount: 23
Enter the state code (CA, MN, or NY): 2
Invalid state code. Cannot calculate tax.

In [11]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the",
"lazy", "dog"]

for element in sentence:
    print(element);

the
quick
brown
fox
jumped
over
the
lazy
dog

In [12]:

number_list = list(range(1, 31))


multiples_of_5 = [num for num in number_list if num % 5 == 0 ]

# Display the multiples of 5

print(multiples_of_5);

[5, 10, 15, 20, 25, 30]

In [14]:

names = [ "Daniyal", "Saifullah", "20SW107", "20SW119"]
first_names = [name.split()[0].lower() for name in names]
print(first_names)

['daniyal', 'saifullah', '20sw107', '20sw119']

In [15]:


multiples_3 = [num * 3 for num in range(1, 21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [16]:

scores = {
    "Daniyal": 70,
    "Saif": 35,
    "20SW107": 82,
    "20SW119": 93,
    "Unknown": 98
}

passed = [name if score >= 65 else name + " (Failed)" for name, score in scores.items()]
print(passed);

['Daniyal', 'Saif (Failed)', '20SW107', '20SW119', 'Unknown']

In [17]:
cast_names = ["Awan", "Shaikh", "Awan", "Shaikh", "Arain"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))
print(cast)

{'Awan': 72, 'Shaikh': 66, 'Arain': 76}

In [18]:
cast = ["Awan", "Shaikh", "Awan", "Shaikh", "Arain"]
heights = [72, 68, 72, 66, 76]

for index, name in enumerate(cast):
    cast[index] = name + str(heights[index])

print(cast)

['Awan72', 'Shaikh68', 'Awan72', 'Shaikh66', 'Arain76']