In [2]:
#@title Default title text
#Conversions
name = "  Daniyal"
age_str = "20"
city = "Hyderabad"

# Integer to String
number = 42
string = str(number)
print(string)

# String to Integer
number = int(age_str)
print(number)

# Float to Integer
float_num = 3.14
integer_num = int(float_num)
print(integer_num)

# Integer to Float
integer_num = 42
float_num = float(integer_num)
print(float_num)

# List to String
my_list = [1, 2, 3]
string = str(my_list)
print(string)

# String to List
string = "[1, 2, 3]"
my_list = list(eval(string))
print(my_list)

# String to Dictionary
string = '{"name": "Daniyal", "age": 20}'
my_dict = eval(string)
print(my_dict)

# Dictionary to String
my_dict = {"name": "Daniyal", "age": 20}
string = str(my_dict)
print(string)

# String to Set
string = "1, 2, 3, 4"
my_set = set(string.split(", "))
print(my_set)

# Set to List
my_set = {1, 2, 3, 4}
my_list = list(my_set)
print(my_list)

42
20
3
42.0
[1, 2, 3]
[1, 2, 3]
{'name': 'Daniyal', 'age': 20}
{'name': 'Daniyal', 'age': 20}
{'1', '3', '4', '2'}
[1, 2, 3, 4]

In [3]:
#Container Types
# Lists
list = [1, 2, 'hiii', 3.14]
print(list)

# Tuples
tuple = (1, 2, 'hello', 3.14)
print(tuple)

# Sets
my_set = {1, 2, 3, 4}
print(my_set)

# Dictionaries
dict = {'name': 'Daniyal', 'age': 20, 'city': 'Hyderabad'}
print(dict)

# Strings
string = 'Hii, Daniyal'
print(string)

[1, 2, 'hiii', 3.14]
(1, 2, 'hello', 3.14)
{1, 2, 3, 4}
{'name': 'Daniyal', 'age': 20, 'city': 'Hyderabad'}
Hii, Daniyal

In [4]:
#Loops
# for loop
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)


# while loop
count = 0
while count < 5:
    print(count)
    count += 1


# Loop control statements
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    if fruit == 'banana':
        break
    print(fruit)


for i in range(5):
    if i == 2:
        continue
    print(i)

apple
banana
cherry
0
1
2
3
4
apple
0
1
3
4

In [5]:
#Functions
# Function without parameters
def greet():
    print("Hello, world!")

# Function with parameters
def add_numbers(a, b):
    return a + b

# Function with default parameter
def multiply_numbers(a, b=2):
    return a * b

# Function with variable number of arguments
def concatenate_strings(*args):
    return ' '.join(args)

# Function with keyword arguments
def person_details(name, age, city):
    print("Name:", name)
    print("Age:", age)
    print("City:", city)

# Calling functions
greet()
result = add_numbers(3, 5)
print(result)

result = multiply_numbers(4)
print(result)

Hello, world!
8
8