In [ ]:
student = {
    "name" : "Daniyal",
    "age" : 20,
    "degree" : "BE",
    "field" : "Software",
    "email" : "daniyalawancr9"
}

print(student["email"])

daniyalawancr9

In [2]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']
print(eclipse_dates[-3:])

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [4]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
 'March 9, 2016']


# TODO: Modify this line so it prints the last three elements of the
list
print(eclipse_dates)

['June 21, 2001', 'December 4, 2002', 'November 23, 2003', 'March 29, 2006', 'August 1, 2008', 'July 22, 2009', 'July 11, 2010', 'November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [5]:
month = 8
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
for num_days in days_in_month:
    print(num_days)

print(f"this month has {days_in_month[1]} days")

31
28
31
30
31
30
31
31
30
31
30
31
this month has 28 days

In [6]:
string = "hello"
print(string.upper())

string = "WORLD"
print(string.lower())

string = "hello world"
print(string.capitalize())

string = "Hello,World"
print(string.split(","))

string_list = ["Hello", "World"]
print(",".join(string_list))

string = "12345"
print(string.isdigit())

string = "Hello"
print(string.isalpha())

string = "hello"
print(string.islower())

string = "WORLD"
print(string.isupper())

HELLO
world
Hello world
['Hello', 'World']
Hello,World
True
True
True
True

In [7]:
age = 20
print(f"my age is {age}")

my age is 20